<h3 class="mt-3">Agregar Comentario</h3>

<form [formGroup] = 'agregarComentario' (ngSubmit) = "Agregar()">
    <div class="mt-3">
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input formControlName='titulo' type="text" class="form-control" id="titulo" placeholder="titulo">
            <span *ngIf = "agregarComentario.get('titulo')?.invalid && agregarComentario.get('titulo')?.touched" class="text-danger">
                    El <strong>texto</strong> es requerido
            </span>
        </div>

        <div class="mb-3">
            <label for="creador" class="form-label">Creador</label>
            <input formControlName='creador' type="text" class="form-control" id="creador" placeholder="creador">
            <span *ngIf = "agregarComentario.get('creador')?.invalid && agregarComentario.get('creador')?.touched" class="text-danger">
                El <strong>texto</strong> es requerido
            </span>
        </div>

        <div class="mb-3">
            <label for="texto" class="form-label">Texto</label>
            <textarea formControlName='fechaCreacion' class="form-control" id="texto" rows="3"></textarea>
            <span *ngIf = "agregarComentario.get('fechaCreacion')?.invalid && agregarComentario.get('fechaCreacion')?.touched" class="text-danger">
                El <strong>texto</strong> es requerido
        </span>
        </div>

        <button type="submit" [disabled] = 'agregarComentario.invalid' class="btn btn-primary float-end">Aceptar</button>
        <button type="button" routerLink="/" class="btn btn-dark float-start">Volver</button>
    </div>
</form>